<div class="modal" id="AddSectionModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Section</p>
            <button class="delete close-modal"></button>
        </header>
        <section class="modal-card-body">

            <div class="columns">
                <div class="column is-12">
                    <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/bulletlists" id="BulletlistAddForm" method="post" class="add-sec-form" data-item-template-id="bulletlist-template" data-item-container-id="SortableSections">
                        <button type="submit" class="button is-outlined is-info  css-add-section-btn">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            &nbsp;
                            Bullet List
                        </button>
                    </form>
                    <br>
                    <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/worklists" id="WorklistAddForm" method="post" method="post" class="add-sec-form" data-item-template-id="worklist-template" data-item-container-id="SortableSections">
                        <button type="submit" class="button is-outlined is-info css-add-section-btn">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            &nbsp;
                            Work List
                        </button>
                    </form>
                    <br>
                    <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/textareas" id="TextareaAddForm" method="post" method="post" class="add-sec-form" data-item-template-id="textarea-template" data-item-container-id="SortableSections">
                        <button type="submit" class="button is-outlined is-info css-add-section-btn">

                            <i class="fa fa-paragraph" aria-hidden="true"></i>
                            &nbsp;
                            Paragraph
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

<div class="modal css-setting-modal" id="SettingModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
      <button class="delete close-modal"></button>
    </header>
    <section class="modal-card-body" style="overflow: scroll">
        <div class="tabs">
            <ul>
                <li class="is-active"><a>Templates</a></li>
                <li><a>Other Settings</a></li>
            </ul>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="columns is-multiline">

                    <div class="column is-4 template-item">
                        <div class="template-item-thumb" style="width: 100%; height: 230px; border: 1px solid #ddd">

                        </div>
                        <div class="has-text-centered" style=" margin-top: 5px">
                            <span style="display:block">Classic</span>
                            <a href="#">Preview</a>
                        </div>
                    </div>
                    <% for(var i=0; i<8; i++) {%>
                    <div class="column is-4 template-item">
                        <div class="template-item-thumb" style="width: 100%; height: 230px; border: 1px solid #ddd">

                        </div>
                        <div class="has-text-centered" style=" margin-top: 5px">
                            <span style="display:block">Classic</span>
                            <a href="#">Preview</a>
                        </div>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </section>
    <footer class="modal-card-foot css-modal-controls">
        <button class="button close-modal">Cancel</button>
        <button class="button">Apply</button>
        <button class="button is-info">Save</button>
    </footer>
  </div>
</div>

<div class="modal" id="ShareModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Share your CV</p>
            <button class="delete close-modal"></button>
        </header>
        <section class="modal-card-body">
            <p style="font-size: 17px; margin-bottom: 5px">Copy public link: </p>

            <div class="resumeinfo-edit-form field is-grouped">
                <p class="control is-expanded">
                <input class="input" name="public-link" type="text" value="http://public.cv-builder.com/resumes/xxxxx">
                </p>
                <p class="control">
                <button class="button is-info">Copy</button>
                </p>
            </div>

            <p style="font-size: 17px; margin-bottom: 5px">Share on social networks: </p>
            <button class="button">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                &nbsp; Twitter
            </button>
            <button class="button">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                &nbsp; facebook
            </button>
            <button class="button">
                <i class="fa fa-xing" aria-hidden="true"></i>
                &nbsp; XING
            </button>
            <button class="button">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                &nbsp; LinkedIn
            </button>
        </section>
</div>
