<%- include ../common/header %>


    <div id="ResumeEditor">

        <a href="/resumes" class="btn">Back</a>

        <input type="hidden" id="ResumeId" value="<%= resume._id %>">
        <input type="hidden" id="UserId" value="<%= user._id %>">

        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <a href="#SectionAddModal" class="btn-floating btn-large modal-trigger" id="SectionAddBtn">
                <i class="material-icons">add</i>
            </a>
        </div>

        <%- include _resumeinfo %>
            <%- include _basicinfo %>
                <%- include _textarea %>
                    <%- include _worklist %>
                        <%- include _bulletlist %>
    </div>

    <div class="modal" id="SectionAddModal" tabindex="-1" role="dialog" style="width: 500px">
        <div class="modal-content">
            <h3>Add a new section</h3>

            <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/bulletlists" id="BulletlistAddForm" method="post" class="add-sec-form" data-item-template-id="bulletlist-template" data-item-container-id="ResumeEditor">
                <button type="submit" class="btn">Bullet List</button>
            </form>
            <br>
            <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/worklists" id="WorklistAddForm" method="post" method="post" class="add-sec-form" data-item-template-id="worklist-template" data-item-container-id="ResumeEditor">
                <button type="submit" class="btn">Occupation List</button>
            </form>
            <br>
            <form action="/users/<%= user._id %>/resumes/<%= resume._id %>/textareas" id="TextareaAddForm" method="post" method="post" class="add-sec-form" data-item-template-id="textarea-template" data-item-container-id="ResumeEditor">
                <button type="submit" class="btn">Text Section</button>
            </form>
        </div>
    </div>


    <script src="/scripts/editor.js"></script>

    <%- include ../common/footer %>
