<%- include ../common/header %>

    <div id="ResumeEditor" style="margin-top: 30px">

        <input type="hidden" id="ResumeId" value="<%= resume._id %>">
        <input type="hidden" id="UserId" value="<%= user._id %>">

        <%- include _common %>
        <%- include _resumeinfo %>
        <%- include _basicinfo %>
        <%- include _textarea %>
        <%- include _worklist %>
        <%- include _bulletlist %>

        <div id="UnsortableSections"></div>
        <div id="SortableSections"></div>

        <button data-modal-id="AddSectionModal" class="button is-outlined is-info open-modal css-add-section-modal-btn">+ Add Section</button>
    </div>

    <%- include _modals %>

    <script src="/scripts/editor.js"></script>

    <%- include ../common/footer %>
