<%- include ../common/header %>
    <div id="ResumeEditor">

        <input type="hidden" id="ResumeId" value="<%= resume._id %>">
        <input type="hidden" id="UserId" value="<%= user._id %>">

        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <a href="#SectionAddModal" class="btn-floating btn-large modal-trigger" id="SectionAddBtn">
                <i class="material-icons">add</i>
            </a>

        </div>

        <div class="card" id="EditorHeader">
            <div class="card-content">
                <span class="card-title" style="margin:0 "><%= resume.name %></span>
            </div>
        </div>

        <div class="card" id="BasicInfo">
            <div class="card-content">
                <span class="card-title">Personal Information</span>

                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="name">Name</label>
                            <input name="name" type="text" value="Hieu M. Nguyen">
                        </div>

                        <div class="input-field">
                            <label for="email">Email</label>
                            <input name="email" type="text" value="ngnmhieu@gmail.com">
                        </div>

                        <div class="input-field">
                            <label for="address1">Address Line 1</label>
                            <input name="address1" type="text" value="Kiwittsmoor 40 Zi. 2.5a">
                        </div>

                        <div class="input-field">
                            <label for="address2">Address Line 2</label>
                            <input name="address2" type="text" value="22417 Hamburg">
                        </div>

                        <div class="input-field">
                            <label for="address3">Address Line 3</label>
                            <input name="address3" type="text" value="Deutschland">
                        </div>

                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="dob">Birthday</label>
                            <input type="date" class="datepicker" name="dob" data-value="24.07.1995">
                        </div>

                        <div class="input-field">
                            <label for="website">Website</label>
                            <input name="website" type="text" value="http://ngnmhieu.com">
                        </div>

                        <div class="row" style="margin-bottom: 0">

                            <div class="input-field col s6">
                                <label for="phone">Phone</label>
                                <input name="phone" type="text" value="+49 1525 467 0981">
                            </div>

                            <div class="input-field col s6">
                                <label for="fax">Fax</label>
                                <input name="fax" type="text" value="+49 1525 467 0981">
                            </div>
                        </div>

                        <div>
                            <div style="height: 145px; width: 145px; background: #eee; padding: 60px 52px; color: #555">
                                Photo
                            </div>
                        </div>
                    </div>

                </div>

                <div class="save-buttons">
                    <button class="btn right">Save</button>
                    <button class="btn-flat right">Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="card worklist-card">

            <div class="card-content">
                <span class="card-title">Education</span>

                <div class="worklist">

                    <% for (var i = 0; i < 3; i++ ) { %>

                        <div class="worklist-item">

                            <a class="item-delete show-on-hover" href="#">
                                <i class="material-icons">clear</i>
                            </a>

                            <div class="row">

                                <div class="col s6">
                                    <div class="input-field">
                                        <label for="occupation">Occupation</label>
                                        <input name="occupation" type="text" value="Werkstudent Softwareentwickler">
                                    </div>
                                    <div class="input-field">
                                        <label for="institution">Institution</label>
                                        <input name="institution" type="text" value="rexx systems GmbH">
                                    </div>
                                </div>

                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s6">
                                            <div class="input-field">
                                                <label for="startDate">From</label>
                                                <input type="date" class="datepicker" name="startDate" data-value="21.08.2014">
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="input-field">
                                                <label for="startDate">To</label>
                                                <input type="date" class="datepicker" name="endDate" data-value="30.12.2015">
                                            </div>
                                            <p>
                                                <input type="checkbox" class="filled-in" id="tillnow" />
                                                <label for="tillnow">Until today</label>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-field col s12">
                                    <textarea id="description" class="materialize-textarea"></textarea>
                                    <label for="description">Description</label>
                                </div>

                            </div>
                        </div>

                        <% } %>
                </div>

                <div class="save-buttons">
                    <button class="btn right">Save</button>
                    <button class="btn-flat right">Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end worklist -->

        <div class="card">
            <div class="card-content">
                <span class="card-title">Objective</span>

                <div class="input-field">
                    <textarea id="description" class="materialize-textarea"></textarea>
                    <label for="description">Content</label>
                </div>

                <div class="save-buttons">
                    <button class="btn right">Save</button>
                    <button class="btn-flat right">Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <%- include _bulletlist %>


    <div class="modal" id="SectionAddModal" tabindex="-1" role="dialog" style="width: 500px">
        <div class="modal-content">
            <h3>Add a new section</h3>

            <form action="/" id="BulletlistAddForm" method="post">
                <button type="submit" class="btn">Bullet List</button>
            </form>
            <br>
            <form action="/" id="WorklistAddForm" method="post">
                <button type="submit" class="btn">Occupation List</button>
            </form>
            <br>
            <form action="/" id="TextareaAddForm" method="post">
                <button type="submit" class="btn">Text Section</button>
            </form>
        </div>
    </div>


    <script src="/scripts/editor.js"></script>

    <%- include ../common/footer %>
