<%- include ../common/header %>

    <div id="ResumesListing">

        <form action='/users/<%= user._id %>/resumes' class="right" method="post" id="NewResumeBtn">
            <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large " onclick="document.getElementById('NewResumeBtn').submit();">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </form>

        <h5 style="margin-bottom: 25px">Your Resumes</h5>

        <ul class="collection">
            <% resumes.forEach(function (r) {  %>
                <li class="collection-item avatar">
                    <a href="/resumes/<%= r._id %>" class="lang-circle grey"><%= r.lang.toUpperCase() %></a>
                    <ul class="action-panel show-on-hover">
                      <li class="action"><a href="/resumes/<%= r._id %>" class="btn-floating orange"><i class="material-icons">edit</i></a></li>
                      <li class="action"><a class="btn-floating light-blue accent-3"><i class="material-icons">share</i></a></li>
                      <li class="action"><a class="btn-floating green"><i class="material-icons">file_download</i></a></li>
                      <li class="action"><a class="btn-floating red"><i class="material-icons">delete</i></a></li>
                    </ul>
                    <a href="/resumes/<%= r._id %>" class="resume-title">
                        <%= r.name %>
                    </a>
                    <div>Default</div>
                    <div>Last modified 3 minutes ago</div>
                </li>
                <% }); %>
        </ul>
    </div>

    <script src="/scripts/resume_listing.js"></script>

    <%- include ../common/footer %>
