<%- include ../common/header %>

    <div id="ResumesListing">

        <table class="table table-striped">
            <thead>
                <th style="width: 300px">Name</th>
                <th style="text-align: center">Created</th>
                <th style="width: 150px; text-align: center">Action</th>
            </thead>
            <% resumes.forEach(function (r) {  %>
                <tr id="resume_<%= r._id %>">
                    <td>
                        <a href="/resumes/<%= r._id %>"><%= r.name %></a>
                    </td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center;">
                        <a href="#" style="margin-right: 10px">
                            <span class="glyphicon glyphicon-file"></span>
                            <span>Clone</span>
                        </a>
                        <a href="#">
                            <span style="color: red" class="glyphicon glyphicon-trash"></span>
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
                <% }); %>
        </table>

        <form action='/users/<%= user._id %>/resumes' method="post">
            <button type=submit class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> New Resume</button>
        </form>

        <div class="clearfix"></div>

    </div>


<%- include ../common/footer %>
